---
layout: default
home-title: virusdefender's blog
description:
---

{% include header.html %}


<main class="g-container home-content">
    <div class="article-list">
        {% for post in paginator.posts %}
            <article class="article-item">
                {% if post.cover %}
                <div class="post-cover">
                    <a class="post-link" href="{{ post.url }}" title="{{ post.title }}"></a>
                    <img src="{{ post.cover }}" alt="">
                </div>
                {% endif %}
                <section class="post-preview">
                    <a class="post-link" href="{{ post.url }}" title="{{ post.title }}"></a>
                    <h2 class="post-title">{{ post.title }}</h2>
                    {% if post.subtitle %}
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                    {% endif %}
                    {% if post.subtitle.size==0 or post.subtitle==nil %} 
                    <p class="post-excerpt">{{ post.excerpt | strip_html | strip_newlines | truncate: 126}}</p>
                    {% endif %}
                </section>
                <footer class="post-meta">
                    <div class="post-tags">
                        {% if post.tags.size > 0 %}
                            {% for tag in post.tags  %}
                        <a href="tags/#{{ tag }}" class="post-tag">{{ tag }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d %H:%M" }}">{{ post.date | date:"%Y-%m-%d %H:%M" }}</time>
                </footer>
            </article>
        {% endfor %}

        {% if paginator.total_pages > 1 %}
            {% include pageNav.html %}
        {% endif %}

    </div>

    <aside class="g-sidebar-wrapper">
        <div class="g-sidebar">
        <section class="author-card">
                <div class="avatar">
                    <img src="https://storage.virusdefender.net/blog/static/profile.png">
                </div>
            </section>
            {% if site.recommend-tags and site.tags.size>0 %}
            <section class="tags-card">
                <a href="/tags" class="tag">&lt;&lt;全部分类&gt;&gt;</a>
                {% popular_tags %}
            </section>
            {% endif %}
        </div>

        {% if site.search %}
        <aside class="search-card" style="margin-top: 10px;">
            <input type="text" id="search-input" placeholder="Search..." onkeypress="return _search(event)">
            <i class="iconfont icon-search"></i>
        </aside>
        {% endif %}
        
    </aside>

</main>

<script>
function search() {
    window.open('https://www.google.com/search?q=site:strcpy.me ' + document.getElementById('search-input').value, '_blank');
}

function _search(event) {
    if (event.which == 13 || event.keyCode == 13) {
        search();
    }
}
</script>

{% include footer.html %}
