RewriteEngine On
RewriteCond %{HTTP:KERSSL} !on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
Header add Strict-Transport-Security "max-age=157680000"
DirectoryIndex index.htm index.html index.xml
