---
layout: default
---

{% include header.html %}

<header class="g-banner post-header {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }} {% unless page.cover %}post-no-cover{% endunless %}" data-theme="{{ site.theme-color }}">
    <div class="post-wrapper">
        <div class="post-tags">
            {% if page.tags.size > 0 %} 
            {% for tag in page.tags  %}
            <a href="{{ site.baseurl }}tags/#{{ tag }}" class="post-tag">{{ tag }}</a>
            {% endfor %}
            {% endif %}
        </div>
        <h1>{{ page.title }}</h1>
        <div class="post-meta">
            <span class="post-meta-item"><i class="iconfont icon-author"></i><a href="{{ site.url }}" target="_blank" rel="author">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</a></></span>
            <time class="post-meta-item" datetime="{{ page.date | date:"%Y-%m-%d %H:%M" }}"><i class="iconfont icon-date"></i>{{ page.date | date:"%Y-%m-%d %H:%M" }}</time>
        </div>
    </div>
    {% if page.cover %}
    <div class="filter"></div>
    <div class="post-cover" style="background: url('{{ page.cover }}') center no-repeat; background-size: cover;">
    {% endif %}
</header>

<div class="post-content">
    {% if page.subtitle %}
    <h2 class="post-subtitle">{{ page.subtitle }}</h2>
    {% endif %}
    <article class="markdown-body">
        {{ page.content }}
    </article>
    {% if site.social-share %}
    <div class="social-share-wrapper">
        <div class="social-share"></div>
    </div>
    {% endif %}
</div>

<section class="author-detail">
    <section class="post-footer-item comment">
        多说倒闭，Disqus 被墙，没有好用的评论系统了。想评论的可以给我<a href="mailto:virusdefender@outlook.com">发邮件</a>或者<a href="http://virusdefender-blog.mikecrm.com/nq8bxtd">填写表单</a>
    </section>
</section>

{% include footer.html %}
