---
layout: default
---

{% include header.html %}

<header class="g-banner post-header {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }} {% unless page.cover %}post-no-cover{% endunless %}" data-theme="{{ site.theme-color }}">
    <div class="post-wrapper">
        <div class="post-tags">
            {% if page.tags.size > 0 %} 
            {% for tag in page.tags  %}
            <a href="{{ site.baseurl }}tags/#{{ tag }}" class="post-tag">{{ tag }}</a>
            {% endfor %}
            {% endif %}
        </div>
        <h1>{{ page.title }}</h1>
        <div class="post-meta">
            <time class="post-meta-item" datetime="{{ page.date | date:"%Y-%m-%d %H:%M" }}"><i class="iconfont icon-date"></i>{{ page.date | date:"%Y-%m-%d %H:%M" }}</time>
        </div>
    </div>
    {% if page.cover %}
    <div class="filter"></div>
    <div class="post-cover" style="background: url('{{ page.cover }}') center no-repeat; background-size: cover;">
    {% endif %}
</header>

<div class="post-content">
    {% if page.subtitle %}
    <h2 class="post-subtitle">{{ page.subtitle }}</h2>
    {% endif %}
    <article class="markdown-body">
        {{ page.content }}

        <section class="author-detail">
            <section class="post-footer-item comment">
                <a href="https://jinshuju.net/f/K6m6rn?x_field_1={{ page.title }}" target="_blank">评论</a> | <a href="http://storage.virusdefender.net/blog/images/utils/wx_pay.JPG" target="_blank">打赏</a> | 转载必须注明原文链接
            </section>
        </section>
    </article>
    {% if site.social-share %}
    <div class="social-share-wrapper">
        <div class="social-share"></div>
    </div>
    {% endif %}
</div>


{% include footer.html %}
