---
layout: default
---

{% include header.html %}

<header class="g-banner post-header {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }} {% unless page.cover %}post-no-cover{% endunless %}" data-theme="{{ site.theme-color }}">
    <div class="post-wrapper">
        <div class="post-tags">
            {% if page.tags.size > 0 %} 
            {% for tag in page.tags  %}
            <a href="{{ site.baseurl }}tags/#{{ tag }}" class="post-tag">{{ tag }}</a>
            {% endfor %}
            {% endif %}
        </div>
        <h1>{{ page.title }}</h1>
        <div class="post-meta">
            <time class="post-meta-item" datetime="{{ page.date | date:"%Y-%m-%d %H:%M" }}"><i class="iconfont icon-date"></i>{{ page.date | date:"%Y-%m-%d %H:%M" }}</time>
        </div>
    </div>
</header>

<div class="post-content">
    {% if page.subtitle %}
    <h2 class="post-subtitle">{{ page.subtitle }}</h2>
    {% endif %}
    <article class="markdown-body">
        {{ page.content }}

        <section class="author-detail">
            <section class="post-footer-item comment">
                <a href="/comment.html?title={{ page.title }}&article_id={{ page.url }}" target="_blank">评论</a> | <a href="#" onclick="document.getElementById('wx-pay').style.display = ''; return false;">微信打赏</a> | 转载必须注明原文链接
            </section>
            <img src="https://storage.virusdefender.net/blog/images/utils/wx_pay_new.JPG" style="max-width: 90%;max-height: 90%; display: none;" id="wx-pay">
        </section>
    </article>
</div>


{% include footer.html %}
